.CurrencyConversion
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 15px;
}
.CurrencyConversion>div
{
    width: 80%;
}
.CurrencyConversion select
{
    margin: 0px 20px;
    cursor: pointer;
}
.gap
{
    width: 60% !important;
    padding: 0 !important;
    display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: center;
   padding: 10px; 
}
.gap button
{
    background-color: transparent;
    font-size: 50px;
    height: 80px;
    border: none;
    padding: 0 !important;
}
.gap button:hover
{
    background-color: transparent;
}
.apiLoad
{
   font-size: 26px; 
   color: var(--PrimaryColor);
}
.apiError
{
    font-size: 26px; 
    color: var(--ErrorColor);
}