:root
{
    --PrimaryColor :#4CAF50;
    --SecondryColor : #2196F3;
    --BackgroundColor : #9ea0a09c;
    --TextColor : #333333;
    --SecondryTextColor : #757575;
    --BorderColor : #E0E0E0;
    --AccentColor : #FFC107;
    --ErrorColor : #F44336;
}